{% extends "base.html" %}

{% block title %}Welcome - Interview Slot Booking{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="jumbotron text-center bg-light p-5 rounded">
            <h1 class="display-4">Interview Slot Booking System</h1>
            <p class="lead">Welcome to the campus drive interview booking platform</p>
            <hr class="my-4">
            <p>If you received a booking link via email, please use that link to book your interview slot.</p>
        </div>
    </div>
</div>
{% endblock %}
